@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font1: "Ancizar Sans", sans-serif;
    --font2: "Barlow Semi Condensed", sans-serif;
    --font3: "Playfair Display", serif;
    --font4: "Raleway", sans-serif;
}

:root {
    --cor1: #D96C89;
    --cor2: #923282;
    --cor3: #F2A74B;
    --cor4: #BF5517;
    --cor5: #C86C19;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100vw;
    height: auto;

    background-color: #D96C89;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--cor1);
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img {
    width: 120px;
    padding-left: 70px;
    padding-top: 20px;
}

header > div#itens > nav > a > img {
    width: 25px;
   padding-left: 100px;
   padding-right: 80px;
}

header > menu#itens > nav {
    margin-right: 80px;
}

header> menu#itens > nav > a {
    padding-right: 50px;
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.2em;
    font-family: var(--font1);
}

header > menu#itens > nav > a:hover {
    text-decoration: underline var(--cor2);
    
    color: var(--cor3);
}


section#principal {
    display: flex;
    justify-content: space-between;
}



#imagem {
    padding-right: 100px;
    animation: flutuar 4s ease-in-out infinite;
}


@keyframes flutuar {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}



div#info {
    margin-left: 70px;
    margin-top: 90px;
    line-height: 65px;
}

p {
    font-size: 7.3em;
    font-family: var(--font3);
    font-weight: bolder;
    color: var(--cor3);
    line-height: 90px;

}

p#caseiro {
    font-size: 65px;
    margin-bottom: 25px
}

i {
    font-size:25px;
    
   
}

button {
    width: 220px;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    display: block;
    margin: auto;
    background-color: var(--cor3);
}

button:hover{
    background-color: var(--cor1);
    border: 1px solid var(--cor2);
    color: azure;
}

button >  a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.596);
    font-family: var(--font1);
}


#donuts:hover {
    display: block;
    height: 200px;
    width: 500px;
    background-color: white;
}

div#icone-menu {
    display: none;
}


@media screen and (max-width: 600px) {

    header {

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        padding-top: 85px;
        
    } 

    header > img {
        margin-bottom: 50px;
    }
    
    menu {
        
        width: 100%;
    }

    div#icone-menu {
        padding-left: 40%;
        padding-bottom: 10px;
        display: block;
        
    }

    nav {
        width: 100%;
        padding-left: 25%;
    }

    nav > a {
        display: block;
        margin: auto;
        text-align: center;
    }

    img#menu {
        width: 20px;
        
    }
    

    div#icone-menu {
        margin: auto;
        width: 40px;
    }
} 